<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NetScuffed</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>NetScuffed</header>
    <div id="card-container">
      <a href="/lldp" id="card">
        <p id="card-text">Link Discovery</p>
      </a>
      <a href="/wifi" id="card">
        <p id="card-text">WiFi Scanner</p>
      </a>
      <a href="/ping" id="card">
        <p id="card-text">Ping/Tracert</p>
      </a>
      <a href="/speedtest" id="card">
        <p id="card-text">Speedtest</p>
      </a>
      <a href="/nmap" id="card">
        <p id="card-text">Nmap</p>
      </a>
      <a href="/wireshark" id="card">
        <p id="card-text">Wireshark</p>
      </a>
    </div>
    <footer>Lorem Ipsum</footer>
    <script src="/js/script.js"></script>
  </body>
</html>
