<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetScuffed</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/lldp.css" />
  </head>
  <body>
    <header>
      <a href="/" id="backbutton"
        ><img src="/assets/backArrow.svg" alt="back navigation" /></a
      >LLDP
    </header>
    <button id="start-lldp">Start Scan</button>
    <div id="loading-indicator" style="font-family: monospace; display: none">
      |
    </div>
    <div id="lldp-container">
      <p id="device-name">Device Name:</p>
      <p id="device-port">Port ID:</p>
      <p id="device-MAC">Chassis ID:</p>
      <p id="device-speed">Speed:</p>
      <p id="device-duplex">Duplex Mode:</p>
    </div>

    <script src="/js/lldp.js" type="module"></script>
  </body>
</html>
