<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetScuffed</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/wifi.css" />
  </head>
  <body>
    <header>
      <a href="/" id="backbutton">Back</a>
      WiFi
    </header>
    <button id="start-wifi" onclick="wifiscan()">Start Scan</button>
    <div id="loading-indicator" style="font-family: monospace; display: none">
      |
    </div>
    <div id="networks-container"></div>
    <script src="/js/wifi.js"></script>
  </body>
</html>
